[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/vma"]
	path = lib/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "lib/tomplusplus"]
	path = lib/tomplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/fastnoise"]
	path = lib/fastnoise
	url = https://github.com/Auburn/FastNoiseLite.git
